@font-face {
font-family: "Proxima Nova";  
src: url('Proxima_Nova/Proxima Nova/Proxima Nova Regular.otf') format("truetype"); 
font-style: normal; 
font-weight: 400;
 }

 @font-face {
font-family: "Proxima Nova - Semibold";  
src: url("Proxima_Nova/Proxima Nova/Proxima Nova Semibold.otf") format("truetype"); 
font-style: normal; 
font-weight: 700;
 }

 @font-face {
font-family: "Trajan Pro";  
src: url("fonts/Trajan Pro Regular/Trajan Pro Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: 400;
 }


 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

header .first_row li {
	display: inline-block;
	margin: 0 5px;
}

.first_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px; 
}

.second_row {
	text-align: center;
}

.third_row ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	min-height: 46px;

}

.contacts a {
	color: #1e1e1e;
	font-family: "Proxima Nova - Semibold";
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 17px 19px 0px 30px;
}

.contacts span {
	color: #ababab;
	font-family: "Proxima Nova - Semibold";
	font-size: 12px;
}


.top_nav a {
	color: #9c9c9c;
	font-family: "Proxima Nova - Semibold";
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
	display: flex;
	justify-content: space-around;
	
 
}

.login_block a {
	color: #9c9c9c;
	font-family: "Proxima Nova - Semibold";
	font-size: 10px;
	text-decoration: none;
}

.second_row {
	padding: 10px;
	margin: 20px;
}

.third_row a {
	color: black;
	font-family: "Proxima Nova";
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
}

.third_row {
	border-top: 1px solid #1e1e1e; 
}

.slider_main {
	width: 100%;
	height: auto;
	background-image: url(img/slider/main_slider.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.slider_all_text {
	padding: 100px 0 0 40px;
}

#text_slider {
	color: #1e1e1e;
	font-family: "Trajan Pro";
	font-size: 72px;
	font-weight: 400;
	text-transform: uppercase;
}

div.text_slider2 {
	color: #1e1e1e;
	font-family: "Proxima Nova - Semibold";
	font-size: 18px;
	font-weight: 700;
}

.line_slider {
	padding: 33px 0;
}

.product_slider {
	width: 40%;
	text-align: right;
	height: auto;
	padding:5px 18px 0 0;
}

.menu_bottom div {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	min-height: 196px;
	width: 33%;
	margin: 0;
	padding: 0;
	
}

.girl1 {
	background-image: url(img/main/girls/girl1.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;

}
.girl2 {
	background-image: url(img/main/girls/girl2.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	/*margin-right: -6px;
	margin-left:-5px;*/
}

.girl3 {
	background-image: url(img/main/girls/background_product3.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.girl1 p {
	width: 110px;
	color: #c59a77;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	padding: 31px 0 55px 32px;
}

.girl2 p {
	width: 86px;
	color: #1e1e1e;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	padding: 31px 0 55px 32px;

}

.girl3 p {
	width: 104px;
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	padding: 31px 0 55px 32px;

}

/*.menu_bottom .buttom_girl1 div {
	display: block; 
	width: 39px;
	height: 39px;
	border-radius: 50%;
	background-color: #1f1f1f;
}*/

.girl3 img {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 18px; 
	height: 156px;
}

.place_product {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	min-height: 300px;
	width: 33.2965%;
	background-color: white;
	margin-right: -6px;
	margin-bottom:-10px;
	border: 1px solid lightgrey;
}


.text_product{
	max-width: 140px;
	margin: 31px 0 0 40px;

}

.products_top {
	color: #1e1e1e;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	
}

.product_desc {
	color: #7f7f7f;
	font-family: "Proxima Nova - Semibold";
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	padding-top: 23px;
}

.product_price {
	font-family: "Proxima Nova - Semibold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	padding-top: 80px;
}

.product_1 {
	background-image: url(img/main/products/product1.png);
	background-repeat: no-repeat;
	background-position: 65% center;
}
.product_2 {
	background-image: url(img/main/products/product2.png);
	background-repeat: no-repeat;
	background-position: 65% center;

}
.product_3 {
	background-image: url(img/main/products/product3.png);
	background-repeat: no-repeat;
	background-position: 65% center;

}
.product_4 {
	background-image: url(img/main/products/product4.png);
	background-repeat: no-repeat;
	background-position: 65% center;
}
.product_5 {
	background-image: url(img/main/products/product10_bgc.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}
.product_6 {
	background-image: url(img/main/products/product5.png);
	background-repeat: no-repeat;
	background-position: 65% center;
}
.product_7 {
	background-image: url(img/main/products/product6.png);
	background-repeat: no-repeat;
	background-position: 65% center;
}
.product_8 {
	background-image: url(img/main/products/product7.png);
	background-repeat: no-repeat;
	background-position: 65% center;
}
.product_9 {
	background-image: url(img/main/products/product8.png);
	background-repeat: no-repeat;
	background-position: 65% center;
}
.product_10 {
	background-image: url(img/main/products/product9_full.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.product_info {
	width: 66.66%;
	background-image: url(img/main/products/girl_bottom.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.text_spec {
	max-width: 327px;
}

.footer {
	width: 100%;
	min-height: 300px;
	background-color: #1c1b1b;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding-top: 40px;

}

.footer h3 {
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}

.footer a {
	color: #8e8e8e;
	font-family: "Proxima Nova - Semibold";
	font-size: 12px;
	text-decoration: none;
	margin-top: 20px;
}

.footer1 {
	max-width: 130px;
	margin-right: 125px;
}

.footer_text {
	display: inline;
	color: #8e8e8e;
	font-family: "Proxima Nova - Semibold";
	font-size: 12px;
	font-weight: 400;
	padding: 5px 0 0 35px;
}

.footer2, .footer3, .footer4, .footer5, .footer6 {
	flex-direction: column;
	max-width: 140px;
}

.footer2 {
	max-width: 66px;
}

