@font-face {
font-family: "Proxima Nova";  
src: url('fonts/Proxima_Nova/Proxima Nova/Proxima Nova Regular.otf') format("truetype"); 
font-style: normal; 
font-weight: 400;
 }

 @font-face {
font-family: "Proxima Nova - Semibold";  
src: url("fonts/Proxima_Nova/Proxima Nova/Proxima Nova Semibold.otf") format("truetype"); 
font-style: normal; 
font-weight: 700;
 }

 @font-face {
font-family: "Trajan Pro";  
src: url("fonts/Trajan Pro Regular/Trajan Pro Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: 400;
 }


 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

header .first_row li {
	display: inline-block;
	margin: 0 5px;
}

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.first_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px; 
}

.second_row {
	text-align: center;
}

.third_row ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	min-height: 46px;

}

.contacts {
	flex-basis: 25%;
	justify-content: flex-start;
}

.contacts a {
	color: #1e1e1e;
	font-family: "Proxima Nova - Semibold";
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 17px 19px 0px 30px;
}

.contacts span {
	color: #ababab;
	font-family: "Proxima Nova - Semibold";
	font-size: 12px;
}

.top_nav {
	display: flex;
	flex-basis: 50%;
	justify-content: space-between;
}

.top_nav a {
	color: #9c9c9c;
	font-family: "Proxima Nova - Semibold";
	text-decoration: none;
	font-size: 10px;
	text-transform: uppercase;
	padding-right: 20px; 
}

.login_block {
	display: flex;
	flex-basis: 25%;
	justify-content: flex-end;
	align-items: center;

}

.login_block a {
	color: #9c9c9c;
	font-family: "Proxima Nova - Semibold";
	font-size: 10px;
	text-decoration: none;
	font-weight: 400;
	line-height: 17.02px;
	text-transform: uppercase;
	letter-spacing: 0.25px;
}

.enter {
	padding-right: 15px;
}


.cart {
	display: flex;
	flex-basis: 3%;
	justify-content: flex-end;
	}

.cart a {
	font-size: 16px;
	padding-right: 7px;

}

.second_row {
	padding: 10px;
	margin: 20px;
}

.third_row a {
	color: black;
	font-family: "Proxima Nova";
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
}

.third_row {
	border-top: 1px solid lightgrey; 
}

.slider_main {
	width: 100%;
	height: 516px;
	background-image: url(img/slider/main_slider.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	position: relative;
}

.slider_all_text {
	padding: 100px 0 0 60px;
}

#text_slider {
	color: #1e1e1e;
	font-family: "Trajan Pro";
	font-size: 72px;
	font-weight: 400;
	text-transform: uppercase;
}

div.text_slider2 {
	color: #1e1e1e;
	font-family: "Proxima Nova - Semibold";
	font-size: 18px;
	font-weight: 700;
}

.line_slider {
	padding: 33px 0;
}

.product_slider {
	background-image: url(img/slider/product_slider.png);
	background-repeat: no-repeat;
	background-position: 22% 67%;
	min-height: 182px;
}

.menu_bottom {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.menu_bottom div {
	min-height: 192px;
	flex-basis: 33.33%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.girl1 {
	background-image: url(img/main/girls/girl1.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;

}
.girl2 {
	background-image: url(img/main/girls/girl2.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	
}

.girl3 {
	background-image: url(img/main/girls/product_3.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.girl1 p {
	width: 110px;
	color: #c59a77;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	padding: 31px 0 55px 32px;
}

.girl2 p {
	width: 86px;
	color: #1e1e1e;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	padding: 31px 0 55px 32px;

}

.girl3 p {
	width: 104px;
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	padding: 31px 0 55px 32px;

}

.buttom_girl1{

}

.girl3 img {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 18px; 
	height: 156px;
}

 .products {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.place_product {
	display: inherit;
	min-height: 300px;
	flex-basis: 33.33%;
	background-color: white;
	position: relative;
	box-sizing: border-box;
}

.text_product {
	max-width: 140px;
	margin: 31px 0 0 40px;

}

.products_top {
	color: #1e1e1e;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}

.product_desc {
	color: #7f7f7f;
	font-family: "Proxima Nova - Semibold";
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	padding-top: 23px;
}

.product_price {
	font-family: "Proxima Nova - Semibold";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	position: absolute;
	left: 40px;
	top: 240px;
	
}

.product_1 {
	background-image: url(img/main/products/product1.png);
	background-repeat: no-repeat;
	background-position: 70% center;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}
.product_2 {
	background-image: url(img/main/products/product2.png);
	background-repeat: no-repeat;
	background-position: 70% center;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;

}
.product_3 {
	background-image: url(img/main/products/product3.png);
	background-repeat: no-repeat;
	background-position: 70% center;
	border-bottom: 1px solid lightgrey;
}
.product_4 {
	background-image: url(img/main/products/product4.png);
	background-repeat: no-repeat;
	background-position: 70% center;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}
.product_5 {
	background-image: url(img/main/products/product10_bgc.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}
.product_6 {
	background-image: url(img/main/products/product5.png);
	background-repeat: no-repeat;
	background-position: 70% center;
	border-bottom: 1px solid lightgrey;
}
.product_7 {
	background-image: url(img/main/products/product6.png);
	background-repeat: no-repeat;
	background-position: 70% center;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}
.product_8 {
	background-image: url(img/main/products/product7.png);
	background-repeat: no-repeat;
	background-position: 70% center;
	border-right: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}
.product_9 {
	background-image: url(img/main/products/product8.png);
	background-repeat: no-repeat;
	background-position: 70% center;
	border-bottom: 1px solid lightgrey;
}
.product_10 {
	background-image: url(img/main/products/product9_full.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	border-right: 1px solid lightgrey;
}

.product_info {
	flex-basis: 66.66%;
	background-image: url(img/main/products/girl_bottom.png);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.text_spec {
	max-width: 327px;
}

.footer {
	width: 100%;
	min-height: 300px;
	background-color: #1c1b1b;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding-top: 30px;

}

.footer h3 {
	color: #ffffff;
	font-family: "Proxima Nova";
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}

.footer a {
	color: #8e8e8e;
	font-family: "Proxima Nova - Semibold";
	font-size: 12px;
	text-decoration: none;
	margin-top: 20px;
}

.footer1 {
	max-width: 130px;
	
}

.footer_text {
	display: inline;
	color: #8e8e8e;
	font-family: "Proxima Nova - Semibold";
	font-size: 12px;
	font-weight: 400;
	padding: 5px 0 0 15px;
}

.footer2, .footer3, .footer4, .footer5, .footer6 {
	flex-direction: column;
	max-width: 140px;
}

.footer2_text {
	min-height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.footer3_text {
	min-height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.footer4_text {
	min-height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.footer5_text {
	min-height: 88px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.footer6 {
	max-width: 150px; 
}

.circle {
	height: 39px;
	width: 39px;
	border-radius: 50%;
	position: absolute; 
}

.big_circle {
	height: 109px;
	width: 109px;
	border-radius: 50%;
	position: absolute;
	color: #c59a77;
	font-family: "Proxima Nova";
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase; 
	text-decoration: none;
}

.girl1, .girl2, .girl3 {
	position: relative;
}

.menu_bottom .circle {
	top: 123px;
	left: 31px;
	background-color: white;
	border: 1px solid lightgrey;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
	color: #c59a77;
}


.fa_mb {
	position: absolute;
	top: 12px;
	left: 17px;
}

.fa_p {
	position: absolute;
	top: 11px;
	left: 11px;
}

.place_product .circle {
	bottom: 33px;
	right: 33px;
	background-color: white;
	border: 1px solid lightgrey;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
	color: #c59a77;
}

.menu_bottom .black_circle {
	background-color: #1f1f1f;
	color: black;
	border: 1px solid lightgrey;
}

.menu_bottom .black_circle:hover {
	background-color: white;
	color: black;
	border: 1px solid lightgrey;
	-webkit-transition: all 0.5s ease;;
  	-moz-transition: all 0.5s ease;;
  	-o-transition: all 0.5s ease;;
  	transition: all 0.5s ease;

}

.menu_bottom .grey_circle {
	background-color: #1e1e1e;
	color: #bbc2c8;
}

.menu_bottom .grey_circle:hover {
	background-color: white;
	color: black;
	border: 1px solid lightgrey;
	-webkit-transition: all 0.5s ease;;
  	-moz-transition: all 0.5s ease;;
  	-o-transition: all 0.5s ease;;
  	transition: all 0.5s ease;
}

.menu_bottom .light_circle {
	background-color: white;
	color: #b58c6b;
}

.menu_bottom .light_circle:hover {
	background-color: #b58c6b;
	color: white;
	-webkit-transition: all 0.5s ease;;
  	-moz-transition: all 0.5s ease;;
  	-o-transition: all 0.5s ease;;
  	transition: all 0.5s ease;
}

.products .prod_circle:hover {
	background-color: #c59a77;
	color: white;
	-webkit-transition: all 0.5s ease;;
  	-moz-transition: all 0.5s ease;;
  	-o-transition: all 0.5s ease;;
  	transition: all 0.5s ease;
}

.products .prod_circle_alt:hover {
	background-color: white;
	color: #c59a77;
	-webkit-transition: all 0.5s ease;;
  	-moz-transition: all 0.5s ease;;
  	-o-transition: all 0.5s ease;;
  	transition: all 0.5s ease;
}

.products .prod_circle_alt {
	background-color: #c59a77;
	color: white;
}


.slider_main .circle {
	top: 204px;
	right: 66px;
	background-color: white;
	border: 1px solid lightgrey;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
	color: #c59a77;
}

.slider_main .light_circle:hover {
	background-color: #b58c6b;
	color: white;
	-webkit-transition: all 0.5s ease;;
  	-moz-transition: all 0.5s ease;;
  	-o-transition: all 0.5s ease;;
  	transition: all 0.5s ease;
}

.slider_main .big_circle {
	top: 375px;
	right: 32px;
	background-color: white;
	border: 1px solid lightgrey;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
	color: #c59a77;
}

.text_big_circle {
	position: absolute;
	left: 18px;
	top: 50px;
}

.fa-2x {
    font-size: 2em;
}

.counter_backet {
	color: #1e1e1e;
	font-family: "Proxima Nova - Semibold";
	font-size: 12px;
	font-weight: 400;
	line-height: 17.02px;
	text-transform: uppercase;
}

.social_ico span {
	height: 39px;
	width: 39px;
	padding-left: 5px;
	border-radius: 50%;
	color: #c59a77;
}


.social_ico a .inst:hover {
	color: violet;
	-webkit-transition: all 0.5s ease;;
  	-moz-transition: all 0.5s ease;;
  	-o-transition: all 0.5s ease;;
  	transition: all 0.5s ease;
}

.social_ico a .vkont:hover {
	color: royalblue;
	-webkit-transition: all 0.5s ease;;
  	-moz-transition: all 0.5s ease;;
  	-o-transition: all 0.5s ease;;
  	transition: all 0.5s ease;
}

.social_ico a .faceb:hover {
	color: navy;
	-webkit-transition: all 0.5s ease;;
  	-moz-transition: all 0.5s ease;;
  	-o-transition: all 0.5s ease;;
  	transition: all 0.5s ease;
}


.menu_top li:hover {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

.top_nav li:hover {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

.footer2 a:hover, .footer3 a:hover, .footer4 a:hover, .footer5 a:hover {
	color: white;
	-webkit-transition: all 0.2s ease;;
  	-moz-transition: all 0.2s ease;;
  	-o-transition: all 0.2s ease;;
  	transition: all 0.2s ease;
}

html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 1 0 auto;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}